<!-- Carousel partial -->
<div class="carousel-div">
<div class="slider">
  <ul class="slides">
    <li>
      <a href="/cities/11">
        <img src="https://images.unsplash.com/photo-1473042904451-00171c69419d"> <!-- random image -->
      </a>
      <!-- <div class="caption right-align">
        <h2>Atlanta</h2>
      </div> -->
    </li>
    <li>
      <a href="/cities/12">
        <img src="https://images.unsplash.com/photo-1423655156442-ccc11daa4e99"> <!-- random image -->
      </a>
      <div class="caption left-align">
        <!-- <div class="black-text">
          <h1 class="carousel">New York City</h1>
        </div> -->
      </div>
    </li>
    <li>
      <a href="/cities/13">
        <img src="https://images.unsplash.com/photo-1471109880861-75a04f9b7833"> <!-- random image -->
      </a>
      <!-- <div class="caption left-align">
        <h2 class="carousel">Chicago</h2>
      </div> -->
    </li>
  </ul>
</div>
</div>
