<div class="banner">
    <h1>Explore your world.</h1>
</div>

<div class="row">
    <% @cities.each do |c| %>
    <div class="col s12 m4 center">
        <div class="card">
            <div class="card-image">
                <%= link_to image_tag('http://lorempixel.com/800/400/food/1'), c %>
                <span class="card-title"><%= c.name %></span>
            </div>
        </div>
    </div>
    <% end %>
</div>
