// Place all the styles related to the City controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    text-align: center;
}

img {
    max-width: 100%;
}

a {
    color: #ffffff;
}

.card-action {
    color: #ffffff;
}

.new-post-button {
    height: 75px;
}

.city-card {
    height: 150px;
}
