// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
    margin-top: -20px;
    margin-bottom: -10px;
    height: 500px;
    align: center;
    background-image: url('https://images.unsplash.com/photo-1446160657592-4782fb76fb99');
    background-repeat: no-repeat;
    background-position: bottom;;
    background-size: cover;
}

.banner h1 {
    font-family: "Lobster", serif;
    padding-top: 30px;
    font-size: 5em;
}


img {
  max-height:100%;
}
