// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
    margin-top: -20px;
    height: 300px;
    align: center;
    background-image: url(jk8rarn6lmw-ian-schneider.jpg);
    background-repeat: no-repeat;
    background-position: bottom;;
    background-size: cover;
}

.banner h1 {
    font-family: "Lobster", serif;
    padding-top: 30px;
    font-size: 5em;
}


img {
  max-height:100%;
}

.row{
  margin-top: 10px;
}

nav {
  font-family: "Oswald";
  letter-spacing: 10px;
}

.card-title {
  font-family: "Oswald";
  font-weight: bold;
  letter-spacing: 5px;
}

.carousel {
  font-family: "Lobster", serif;
  padding-top: 30px;
  font-size: 5em;
}

.footer {
  color: white;
  font-family: "Oswald";
  letter-spacing: 10px;
}

.carousel-div {
  margin-top: 10px;
}

// .card-image {
//   max-height: 140px;
//   margin-bottom: 50px;
// }
